@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
}

img {
    margin-top: 10px;
    width: 100vw;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.title h3 {
    margin-bottom: 0.5em;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
}

.title h1 {
    margin-bottom: 0.5em;
    font-weight: 700;
}

.title p {
    color: hsl(219, 9%, 45%);
    font-weight: 400;
    font-size: 1rem;
}

.pricing {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*     justify-content: space-between; */
}

.priceContainer h1 {
    font-weight: 700;
}

.priceContainer .offer {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 7px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 0.5em;
    font-size: 1rem;
}

.pricing del {
    color: hsl(220, 14%, 75%);
    font-weight: 700;
    font-size: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.inputContainer .count {
    height: 3.5em;
    width: 90%;
    vertical-align: middle;
    line-height: 3.5em;
    text-align: center;
    background-color: hsl(223, 64%, 98%);
    font-weight: 700;
}

.inputContainer button {
    width: 10%;
    height: 3.5em;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 1rem;
    background-color: hsl(223, 64%, 98%);
    border: 0;
    border-radius: 10px;
}

/* .cartContainer {
    display: flex;
    flex-direction: column;
} */

.cartContainer .button {
    display: flex;
    flex-direction: row;
    height: 3.5em;
}

.cartContainer .button img {
    height: 10%;
    width: 10%;
}