@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
}
:root {
    --black: #000000;
    --white: #FFFFFF;
    --very-light-pink: #C7C7C7;
    --orange: #FC8D3A;
    font-family: 'Kumbh Sans', sans-serif;
}

.Burger{
    display:none;
}
.Header div p{
    justify-content: space-between;
    margin:0;
    padding:0;
}
.Header {
    margin: 0;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    border-bottom: 1px solid var(--very-light-pink);
    
  }
.image-av {
    width:1.5em;
    margin-left: 1em;
}
.div-izq p {
    font-weight: bold;
    font-size: 2.5em;
}
.div-der ul,
.div-izq ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 3.5em;
}
.div-izq{
    display:flex;
}
.div-izq ul {
    margin-left: 0em;
}
.div-izq ul li a,
.div-der ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.div-izq ul li a:hover,
.div-der ul li a:hover {
    border: 1px solid var(--orange);
    color: var(--orange);
}
.icon-cart {
    position:relative;
}
.inactive {
    display:none;
}
.active{
    display:block;
}
.menu-mobile{
    position: absolute;
    padding: 2em;
    background-color: var(--white);
    left:0;
    width:70%;
    top:0;
    bottom: 0;
}
.menu-mobile a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.menu-mobile ul {
    padding: 0;
    list-style: none;
 }
.menu-mobile ul li {
    margin-bottom: 2em;
}
@media (min-width: 376px) {
    .menu-mobile {
        display:none;
    }
}
@media (max-width: 375px) {
    .div-izq ul{
        display: none;
    }
    .Burger{
        display:block;
    }
}